@charset "UTF-8";
/*palette couleurs*/
/*navbars*/
/*polices*/
/*boutons*/
/*fond content body*/
/*bleu font carte*/
/*footer colors*/
/*formatage du contenu*/
/*variables login Content*/
buttons, input[type=submit], #geoLocButton {
  border-radius: 5px;
  background-color: #00aa7f;
  color: #32324c;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

buttons:hover,
input[type=submit]:hover,
#geoLocButton:hover {
  background-color: #00dda5;
}

* {
  box-sizing: border-box;
  font-family: arial;
  font-size: 16px;
}

body {
  margin: 0;
}

h1{
  font-size: 70px;
  text-align: center;
  color: #00aa7f;
}



/*Login page*/
.loginContentPage {
  /*Design boutons*/
  /*Appartion/disparition*/
}
.loginContentPage a {
  text-decoration: none;
  color: #00aa7f;
  transition: 0.5s ease;
}
.loginContentPage a:hover {
  color: #004433;
}
.loginContentPage .form {
  /*design form*/
  background: rgba(0, 85, 127, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(0, 85, 127, 0.2);
}
.loginContentPage .form form input {
  margin-bottom: 25px;
  padding: 8px;
}
.loginContentPage .form form input[type=submit] {
  padding: 20px;
}
.loginContentPage .tab_group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.loginContentPage .tab_group:after {
  content: "";
  display: table;
  clear: both;
}
.loginContentPage .tab_group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(221, 221, 221, 0.25);
  color: #ddd;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.loginContentPage .tab_group li a:hover {
  background: #00dda5;
  color: #ffffff;
}
.loginContentPage .tab_group .active a {
  background: #00aa7f;
  color: #ffffff;
}
.loginContentPage .tab_content > div:last-child {
  display: none;
}
.loginContentPage h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
.loginContentPage label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.loginContentPage label .req {
  margin: 2px;
  color: #00aa7f;
}
.loginContentPage label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.loginContentPage label.active .req {
  opacity: 0;
}
.loginContentPage input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: #00dda5;
  background-image: none;
  border: 1px solid #ddd;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.loginContentPage input:focus {
  outline: 0;
  border-color: #bc7d00;
}
.loginContentPage input {
  font-size: 22px;
  display: block;
  padding: 5px 10px;
  background: #00dda5;
  border: 1px solid #ddd;
  color: #ffffff;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.loginContentPage input:focus {
  border-color: #bc7d00;
}
.loginContentPage input .field_wrap {
  position: relative;
  margin-bottom: 40px;
}
.loginContentPage .top_row:after {
  content: "";
  display: table;
  clear: both;
}
.loginContentPage .top_row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.loginContentPage .top_row > div:last-child {
  margin: 0;
}
.loginContentPage .button {
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #00aa7f;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
.loginContentPage .button:hover, .loginContentPage .button:focus {
  background: #004433;
}
.loginContentPage .button_block {
  display: block;
  width: 100%;
}
.loginContentPage .oubli {
  margin-top: -20px;
  text-align: right;
}
.loginContentPage #signUp {
  display: block;
}
.loginContentPage #logIn {
  display: none;
}
